body {
    background-color: black;
}

#fps_counter {
    position: relative;
    bottom: 0px;
    color: white;
}

#canvas_container{
    position: absolute;
    border: dashed;
    border-color: lightblue;
}

.crosshair {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 1px;
    background-color: red;
}

.crosshair:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 2px;
    top: -2px;
    width: 1px;
    height: 5px;
    background-color: red;
}

/*by MaciekTk88*/

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
#RRange {
    -webkit-appearance: none; /* Override default CSS styles */
    width: 200px;
    height: 20px;
    background: #ff0000;
    outline: none;
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .0s; /* 0.2 seconds transition on hover */
    transition: opacity .0s;
    border-radius: 25px;
}

#GRange {
    -webkit-appearance: none; /* Override default CSS styles */
    width: 200px;
    height: 20px;
    background: #4cff00;
    outline: none;
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .0s; /* 0.2 seconds transition on hover */
    transition: opacity .0s;
    border-radius: 25px;
}

#BRange {
    -webkit-appearance: none; /* Override default CSS styles */
    width: 200px;
    height: 20px;
    background: blue;
    outline: none;
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .0s; /* 0.2 seconds transition on hover */
    transition: opacity .0s;
    border-radius: 25px;
}

#ARange {
    -webkit-appearance: none; /* Override default CSS styles */
    width: 200px;
    height: 20px;
    background: #ffffff;
    outline: none;
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .0s; /* 0.2 seconds transition on hover */
    transition: opacity .0s;
    border-radius: 25px;
}

#ERange {
    -webkit-appearance: none; /* Override default CSS styles */
    width: 200px;
    height: 20px;
    background: #ffffff;
    outline: none;
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .0s; /* 0.2 seconds transition on hover */
    transition: opacity .0s;
    border-radius: 25px;
}

.slider5 {
    -webkit-appearance: none; /* Override default CSS styles */
    width: 180px;
    height: 20px;
    background: #ffffff;
    outline: none;
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .0s; /* 0.2 seconds transition on hover */
    transition: opacity .0s;
    border-radius: 25px;
}

.slider6 {
    -webkit-appearance: none; /* Override default CSS styles */
    width: 180px;
    height: 20px;
    background: #ffffff;
    outline: none;
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .0s; /* 0.2 seconds transition on hover */
    transition: opacity .0s;
    border-radius: 25px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 10; /* Fully shown on mouse-over */
}

#square {
    height: 200px;
    width: 200px;
    background-color: #ffffff;
}

.zdiencie {
    position: absolute;
    left: 60%;
    top: 30%;
}

#gora {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.5;
}

.suwaki {
    position: absolute;
    left: 3%;
    top: 35%;
}

.pole1 {
    position: absolute;
    right: 10%;
    top: 20px;
    border-style: solid;
    border-color: lightblue;
    height: 310px;
    width: 540px;
    background-color: darkslategrey;
}

.pole2 {
    position: absolute;
    right: 10%;
    top: 360px;
    border-style: solid;
    border-color: lightblue;
    height: 250px;
    width: 540px;
    background-color: darkslategrey;
}

.pole3 {
    position: absolute;
    right: 10%;
    top: 640px;
    border-style: solid;
    border-color: lightblue;
    height: 420px;
    width: 540px;
    background-color: darkslategrey;
}

.pole4 {
    position: absolute;
    right: 10%;
    top: 1090px;
    border-style: solid;
    border-color: lightblue;
    height: 420px;
    width: 540px;
    background-color: darkslategrey;
}

.pole5 {
    position: absolute;
    right: 10%;
    top: 1090px;
    border-style: solid;
    border-color: lightblue;
    height: 520px;
    width: 540px;
    background-color: darkslategrey;
}

.suwaki2 {
    position: absolute;
    left: 33px;
    top: 40%;
}

#kwadratowypedzelid {
    position: absolute;
    left: 200px;
    top: 52px;
    height: 25px;
    width: 25px;
}

#circle {
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 418px;
    top: 120px;
}

.edytor {
    position: absolute;
    left: 40%;
    top: 5%;
    font-size: 40px;
    color: lightblue;
    font-family: Impact
}

#open {
    position: absolute;
    left: 25%;
    top: 300px;
    border-style: solid;
    border-color: blue;
    height: 25px;
    width: 300px;
    background-color: deepskyblue;
    border-radius: 10px;
    font-family: Impact;
    color: white;
    font-size: 18px;
}

#save {
    position: absolute;
    left: 25%;
    top: 250px;
    border-style: solid;
    border-color: blue;
    height: 25px;
    width: 300px;
    background-color: deepskyblue;
    border-radius: 10px;
    font-family: Impact;
    color: white;
    font-size: 18px;
}

#polowaprzewijana {
    position: absolute;
    overflow: auto;
    border-style: solid;
    border-color: lightblue;
    background-color: dimgrey;
    right: -750px;
    top: 0px;
    width: 700px;
    bottom: 0px;
}

.Wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

#seedp {
    position: absolute;
    left: 35%;
    top: 130px;
}

.malyedytor {
    position: absolute;
    left: 49%;
    top: 100px;
    font-size: 25px;
    color: white;
    font-family: Impact
}

#applyseed {
    position: absolute;
    left: 61%;
    top: 128px;
    border-style: solid;
    border-color: green;
    height: 25px;
    width: 50px;
    background-color: greenyellow;
    border-radius: 10px;
}

.edytordlugi {
    position: absolute;
    left: 24%;
    top: 5%;
    font-size: 40px;
    color: lightblue;
    font-family: Impact
}

.suwaki3 {
    position: absolute;
    left: 33px;
    top: 100px;
}

.tabelas {
    position: absolute;
    left: 80px;
    top: 300px;
    font-size: 25px;
    color: white;
    font-family: Impact
}

