body {
    background-color: black;
}

#fps_counter {
    position: relative;
    bottom: 0px;
    color: white;
}

#canvas_container{
    position: absolute;
    border: dashed;
    border-color: red;
}

.crosshair {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 1px;
    background-color: red;
}

.crosshair:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 2px;
    top: -2px;
    width: 1px;
    height: 5px;
    background-color: red;
}

/*MaciekTk8888888888888888888888888888888*/

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    width: 200px;
    height: 20px;
    background: #ff0000;
    outline: none;
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .0s; /* 0.2 seconds transition on hover */
    transition: opacity .0s;
    border-radius: 25px;
}

.slider2 {
    -webkit-appearance: none; /* Override default CSS styles */
    width: 200px;
    height: 20px;
    background: #4cff00;
    outline: none;
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .0s; /* 0.2 seconds transition on hover */
    transition: opacity .0s;
    border-radius: 25px;
}

.slider3 {
    -webkit-appearance: none; /* Override default CSS styles */
    width: 200px;
    height: 20px;
    background: blue;
    outline: none;
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .0s; /* 0.2 seconds transition on hover */
    transition: opacity .0s;
    border-radius: 25px;
}

.slider4 {
    -webkit-appearance: none; /* Override default CSS styles */
    width: 200px;
    height: 20px;
    background: #ffffff;
    outline: none;
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .0s; /* 0.2 seconds transition on hover */
    transition: opacity .0s;
    border-radius: 25px;
}

.slider5 {
    -webkit-appearance: none; /* Override default CSS styles */
    width: 200px;
    height: 20px;
    background: #ffffff;
    outline: none;
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .0s; /* 0.2 seconds transition on hover */
    transition: opacity .0s;
    border-radius: 25px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 10; /* Fully shown on mouse-over */
}


.slider::-moz-range-thumb {
    -webkit-appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #808080; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 25px;
}

.slider2::-moz-range-thumb {
    -webkit-appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #808080; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 25px;
}

.slider3::-moz-range-thumb {
    -webkit-appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #808080; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 25px;
}

.slider4::-moz-range-thumb {
    -webkit-appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #808080; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 25px;
}

.slider5::-moz-range-thumb {
    -webkit-appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #808080; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 25px;
}

#square {
    height: 200px;
    width: 200px;
    background-color: #ffffff;
}

.zdiencie {
    position: absolute;
    left: 60%;
    top: 30%;
}

#gora {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.5;
}

.suwaki {
    position: absolute;
    left: 3%;
    top: 40%;
}



.pole1 {
    position: absolute;
    right: -600px;
    top: 0px;
    border-style: solid;
    border-color: lightblue;
    height: 310px;
    width: 540px;
    background-color: darkslategrey;
}

.suwaki2 {
    position: absolute;
    left: 33px;
    top: 58%;
}

#circle {
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 418px;
    top: 120px;
}

.pole2 {
    position: absolute;
    right: -600px;
    top: 350px;
    border-style: solid;
    border-color: lightblue;
    height: 220px;
    width: 540px;
    background-color: darkslategrey;
}

.edytor {
    position: absolute;
    left: 30%;
    top: 5%;
    font-size: 40px;
    color: lightblue;
    font-family: Impact
}