body {
    background-color: black;
}

#fps_counter {
    position: relative;
    bottom: 0px;
    color: white;
}

#canvas_container{
    position: absolute;
    border: dashed;
    border-color: red;
}

.crosshair {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 1px;
    background-color: red;
}

.crosshair:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 2px;
    top: -2px;
    width: 1px;
    height: 5px;
    background-color: red;
}
