html {
    margin: 0;
    height: 100%;
    font-family: Impact;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
    margin: 0px;
    height: 100%;
}

#fps_counter {
    position: fixed;
    top: 1px;
    left: 2px;
    color: white;
    margin: 0px;
}

#canvas_container {
    position: absolute;
    margin: 0;
    height: 100%;
}

.crosshair {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 1px;
    background-color: red;
}

.crosshair::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 2px;
    top: -2px;
    width: 1px;
    height: 5px;
    background-color: red;
}

#right-toolbar-container {
    position: absolute;
    overflow: visible;
    right: 0px;
    top: 0px;
    width: 600px;
    bottom: 0px;
}

#right-toolbar-editor {
    position: absolute;
    overflow: auto;
    background-color: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(10px);
    right: 0px;
    top: 0px;
    width: 600px;
    bottom: 0px;
}

#right-toolbar-blockPicker {
    position: absolute;
    overflow: visible;
    border-right-style: solid;
    border-width: 3px;
    border-color: lightblue;
    left: -77px;
    top: 0px;
    width: 74px;
    bottom: 0px;
}

.right-toolbar-blockPicker-block {
    position: absolute;
    left: 6px;
    width: 64px;
    height: 64px;
    border-style: solid;
    border-color: lightblue;
    border-radius: 5px;
    background-color: rgba(0, 255, 255, 41%);
    backdrop-filter: blur(10px);
    /*canvas texture filtering*/
    image-rendering: optimizeSpeed;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.right-toolbar-blockPicker-block-center {
    position: absolute;
    /*overflow needed for variant selector*/
    overflow: visible;
    top: 10px;
    left: 2px;
    width: 64px;
    height: 64px;
    box-shadow: 0 0 15px orange;
    border-style: solid;
    border-color: orange;
    border-width: 4px;
    background-color: rgba(0, 255, 255, 41%);
    backdrop-filter: blur(10px);
    /*canvas texture filtering*/
    image-rendering: optimizeSpeed;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.prompt {
    border: 4px solid lightblue;
    border-radius: 6px;
    text-align: center;
    position: absolute;
    background-color: rgba(0, 255, 255, 41%);
    backdrop-filter: blur(10px);
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

#brushPreview{
    float: right;
    width: 90px;
    height: 90px;
}

.slider > input {
    -webkit-appearance: none;
    width: 200px;
    height: 20px;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .0s;
    transition: opacity .0s;
    border-radius: 25px;
}

.slider > label, .slider > span {
    font-size: 30px;
    font-family: Impact;
}

.slider:hover {
    opacity: 10;
}

#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #wrapper section {
        padding: 20px;
        margin-top: 1em;
        width: 90%;
        border-style: solid;
        border-color: lightblue;
        border-radius: 10px;
        background-color: rgb(100, 100, 100);
    }

    #wrapper nav {
        margin-top: 1em;
        width: 98%;
    }

.tab button {
    background-color: gray;
    float: left;
    border: 4px solid lightblue;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 50%;
}

    .tab button.active {
        background-color: #ccc;
    }

    .tab button:hover {
        background-color: #aaa;
    }

#kwadratowypedzelid {
    height: 25px;
    width: 25px;
}

#circle {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: lightblue;
    font-family: Impact;
}

.button {
    border-style: solid;
    border-color: blue;
    border-radius: 10px;
    background-color: deepskyblue;
    font-family: Impact;
    color: white;
    font-size: 18px;
    height: 25px;
    width: 300px;
    margin: 0.5em 0em 0.5em 0em;
}

#polowaprzewijana {
    position: absolute;
    overflow: auto;
    border-style: solid;
    border-color: lightblue;
    background-color: dimgrey;
    right: -750px;
    top: 0px;
    width: 700px;
    bottom: 0px;
}

#seedp {
    position: absolute;
    left: 35%;
    top: 130px;
}

#applyseed {
    position: absolute;
    left: 61%;
    top: 128px;
    border-style: solid;
    border-color: green;
    height: 25px;
    width: 50px;
    background-color: greenyellow;
    border-radius: 10px;
}

.edytordlugi {
    position: absolute;
    left: 24%;
    top: 5%;
    font-size: 40px;
    color: lightblue;
    font-family: Impact
}

